<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<a href="<%= @open_all %>">Open <%= @apartments.size %> new apartments</a>.
<br>
<br>
Found using this <a href="<%= @url %>">search</a>.
</body>
</html>
